In [2]:
import numpy as np

In [5]:
array_1=[8,9,10,11,12,13]
array_1=np.array(array_1)

In [7]:
array_2=array_1.reshape(2,3)
array_2

array([[ 8,  9, 10],
       [11, 12, 13]])

In [8]:
array_3=array_2.reshape(3,2)

array([[ 8,  9],
       [10, 11],
       [12, 13]])

In [12]:
import pandas as pd

data=pd.read_csv('diabetes_model.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,5,77,82,41,42,35.8,0.156,35,0
1,9,122,56,0,0,33.3,1.114,33,1
2,0,113,76,0,0,33.3,0.278,23,1
3,1,139,62,41,480,40.7,0.536,21,0
4,10,161,68,23,132,25.5,0.326,47,1
...,...,...,...,...,...,...,...,...,...
609,4,114,64,0,0,28.9,0.126,24,0
610,2,175,88,0,0,22.9,0.326,22,0
611,3,121,52,0,0,36.0,0.127,25,1
612,7,136,74,26,135,26.0,0.647,51,0
613,4,156,75,0,0,48.3,0.238,32,1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,5,77,82,41,42,35.8,0.156,35,0
1,9,122,56,0,0,33.3,1.114,33,1
2,0,113,76,0,0,33.3,0.278,23,1
3,1,139,62,41,480,40.7,0.536,21,0
4,10,161,68,23,132,25.5,0.326,47,1
...,...,...,...,...,...,...,...,...,...
609,4,114,64,0,0,28.9,0.126,24,0
610,2,175,88,0,0,22.9,0.326,22,0
611,3,121,52,0,0,36.0,0.127,25,1
612,7,136,74,26,135,26.0,0.647,51,0
613,4,156,75,0,0,48.3,0.238,32,1

In [15]:
data.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'